<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>表面分析-AFM</title>
  </head>

  <body>
    <!-- Header -->
    <header id="layout-header" class="header-navbar">
      <% include('../../layouts/header.html') %>
    </header>
    <section>
      <div class="img-con">
        <img
        src="../../assets/prd-intro-bg.png"
        class="img-fluid"
        alt="Responsive image"
      />
      <p id="img_title">SOI芯片订制</p>
      </div>
    </section>
    <section>
      <div class="container page">
        <div class="row">
          <div class="col-3 col-sm-12 col-md-3 col-xs-12">
            <h3 id="menu_name">表面分析</h3>
            <nav id="navbar" class="">
              <ul>
                <li class="parent_menu">
                  <a href="#" class="parent_menu_title">表面分析</a>
                  <ul>
                    <li>
                      <a href="#" class="active">
                        AFM
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        SNOM
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        AFM-Raman
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        AFM in SEM
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        白光干涉仪&amp;轮廓仪
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        摩擦磨损试验机
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="parent_menu_title">生物医学</a>
                  <ul>
                    <li>
                      <a href="#" class="active">
                        Photonetc荧光高光谱成像系统
                      </a>
                    </li>
                    <li>
                      <a href="#" class="active">
                        Photonetc拉曼成像系统
                      </a>
                    </li>
                    <li>
                      <a href="#" class="active">
                        Photonec高光谱相机
                      </a>
                    </li>
                    <li>
                      <a href="#" class="active">
                        CytoViva高光谱显微镜
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="parent_menu_title">X-Ray相关</a>
                  <ul>
                    <li>
                      <a href="#" class="active">
                        X射线波带片
                      </a>
                    </li>
                    <li>
                      <a href="#" class="active">
                        校准标样
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="parent_menu_title">加工定制</a>
                  <ul>
                    <li>
                      <a href="#" class="active">
                        SOI芯片订制
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-9 col-sm-12 col-md-9 col-xs-12">
            <div id="prd_temp_location">

            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="bottom">
      <% include('../../layouts/bottom.html') %>
    </div>
    <% include('../../layouts/copyright.html') %>
  </body>
</html>
