.navbar {
  .dropdown-menu {
    margin-top: 0;
    .dropdown-toggle {
      &::after {
        vertical-align: middle;
        border-left: 4px solid;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
      }
    }
    .dropdown {
      .dropdown-menu {
        left: 100%;
        top: 0%;
      }
    }
    & > li {
      &.show {
        & > a {
          color: white;
        }
      }
    }
  }
  .dropdown-menu > li a:hover,
  .dropdown-menu > li.show {
    background: #0066cc;
    color: white;
  }
  .nav-menu > .nav-item {
    position: relative;
    &:hover {
      > a {
        color: #0066cc !important;
      }
      &::after {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
      }
    }
    &::after {
      position: absolute;
      content: '';
      top: 68px;
      left: 3px;
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 6px;
      background: #0066cc;
      transform: scaleX(0);
      transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -moz-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -ms-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
  .nav-menu > .nav-item.active {
    > a {
      color: #0066cc !important;
    }
    &::after {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
    }
  }
  .nav-menu > .nav-item.mail {
    width: 75px;
    background: #f1f6fc;
    border: 1px solid #f1f6fc;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 30px;
    border-radius: 15px;
    line-height: 12px;
    > a {
      color: #0066cc !important;
    }
  }
  .navbar-container {
    max-width: 1200px !important;
    min-width: 460px !important;
  }
}
@media (min-width: 796px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media (max-width: 762px) {
  .nav-item {
    width: 100%;
    &:hover {
      > a {
        color: #0066cc !important;
      }
      &::after {
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
      }
    }
  }
  .nav-item.active {
    > a {
      color: #0066cc !important;
    }
    &::after {
      transform: scaleX(0) !important;
      -webkit-transform: scaleX(0) !important;
      -moz-transform: scaleX(0) !important;
      -ms-transform: scaleX(0) !important;
      -o-transform: scaleX(0) !important;
    }
  }
  .nav-menu > .nav-item {
    position: relative;
    &:hover {
      > a {
        color: #0066cc !important;
      }
      &::after {
        transform: scaleX(0);
        -webkit-transform: scaleX(0) !important;
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
      }
    }
  }
}
