.dropdown-menu {
  margin-top: 0;
  .dropdown-toggle {
    &::after {
      vertical-align: middle;
      border-left: 4px solid;
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
    }
  }
  .dropdown {
    .dropdown-menu {
      left: 100%;
      top: 0%;
    }
  }
  & > li {
    &.show {
      & > a {
        color: white;
      }
    }
  }
}
.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
  background: #007bff;
  color: white;
}

.nav-menu > li > a:hover{
  color: #007bff !important;
}
.nav-menu > li > a.active {
  color: #007bff !important;
}
.navbar-container {
  max-width: 1200px !important;
  min-width: 460px !important;
}
@media (min-width: 796px){
  .navbar-expand-lg {
      -ms-flex-flow: row nowrap;
      /* flex-flow: row nowrap; */
      -ms-flex-pack: start;
      /* justify-content: flex-start; */
  }
}
@media (max-width: 762px){
  .nav-item {
    width: 100%;
  }
}
