.container-fluid-header {
  border-bottom: 5px solid #0066cc;
  #layout-header {
    .navbar-header {
      min-height: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      .navbar-brand {
        padding-left: 66px;
        background-image: url("../../assets/logo.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: 10px 50%;
        font-family: "微软雅黑";
        font-size: 18px;
        font-weight: bold;
        color: #000;
        letter-spacing: 6px;
        .sub-title {
          font-size: 12px;
          letter-spacing: 1px;
          color: #000;
        }
      }
    }
    .nav-con {
      font-size: 14px;
      font-weight: bold;
      .nav-item {
        margin-right: 15px;
        .nav-link {
          color: #000;
        }
      }
    }
  }
}
.page {
  h3 {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #333399;
    display: inline-block;
    border-bottom: 1px solid #333399;
  }
  .nav-pills {
    margin-top: 20px;
    border-left: 1px solid #e9f5fc;
    .nav-link {
      background: #fff;
      color: #333366;
      position: relative;
      &:hover {
        color: #0066cc;
      }
    }
    .active {
      color: #0066cc;
      &:before {
        content: "";
        background: url("../../assets/icon/pillar.png") no-repeat;
        position: absolute;
        top: 6px;
        z-index: 2;
        left: -3px;
        width: 6px;
        height: 20px;
      }
    }
  }
}
.wrapper {
  border-left: 1px solid #eee;
  .breadcrumb {
    padding-left: 60px;
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    color: #666666;
    background-color: #fff;
    margin-bottom: 0;
    .breadcrumb-title {
      color: #006699;
    }
  }
  .tab-content {
    padding-left: 60px;
    h1 {
      font-size: 30px;
      color: #333399;
      margin-top: 48px;
      margin-bottom: 48px;
      .sub-title {
        font-size: 18px;
        color: #333;
      }
    }
    h1.our-cust {
      margin-bottom: 20px;
    }
    .cust-list {
      padding-bottom: 60px;
      .row {
        .col-3 {
          padding:20px;
        }
      }
    }
    .contract-us-container {
      padding-bottom: 70px;
      .card {
        padding: 20px;
        min-height: 290px;
        .card-body {
          position: relative;
          &:after {
            content: "";
            background: url("../../assets/icon/pillar-center.png") no-repeat;
            position: absolute;
            bottom: 0;
            z-index: 2;
            left: 21px;
            width: 20px;
            height: 6px;
          }
          .card-content {
            p {
              line-height: 30px;
            }
            p.title {
              font-size: 14px;
              color: #999;
            }
            p.content {
              font-size: 16px;
              color: #333;
            }
          }
        }
      }
    }
   
  }
}
