<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>关于我们</title>
  </head>

  <body>
    <!-- Header -->
    <header id="layout-header" class="header-navbar">
      <% include('../../layouts/header.html') %>
    </header>
    <section>
      <img
        src="../../assets/about-us-bg.png"
        class="img-fluid"
        alt="Responsive image"
      />
    </section>
    <section>
      <div class="container page">
        <div class="row">
          <div class="col-3 col-sm-12 col-md-3 col-xs-12">
            <h3>关于我们</h3>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">关于我们</a>
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">联系我们</a>
            </div>
          </div>
          <div class="col-9 col-sm-12 col-md-9 col-xs-12">
            <div class="wrapper">
              <div class="breadcrumb">
                当前位置: 首页&nbsp;&nbsp;-&nbsp;&nbsp;<span class="breadcrumb-title">关于我们</span>
              </div>
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                  <h1>我们是谁</h1>
                  <img src="../../assets/who.png" class="img-fluid" alt="">
                  <h1>我们的团队</h1>
                  <img src="../../assets/our-team.png" class="img-fluid" alt="">
                  <h1 class="our-cust">我们的客户<span class="sub-title">(包括但不限于)</span></h1>
                  <div class="cust-list">
                    <div class="row">
                      <div class="col-3">
                        <img src="../../assets/cust-a.png" class="img-fluid" alt="">
                      </div>
                      <div class="col-3">
                        <img src="../../assets/cust-b.png" class="img-fluid" alt="">
                      </div>
                      <div class="col-3">
                        <img src="../../assets/cust-c.png" class="img-fluid" alt="">
                      </div>
                      <div class="col-3">
                        <img src="../../assets/cust-d.png" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <img src="../../assets/cust-e.png" class="img-fluid" alt="">
                      </div>
                      <div class="col-3">
                        <img src="../../assets/cust-f.png" class="img-fluid" alt="">
                      </div>
                      <div class="col-3">
                        <img src="../../assets/cust-g.png" class="img-fluid" alt="">
                      </div>
                      <div class="col-3">
                        <img src="../../assets/cust-h.png" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <img src="../../assets/cust-i.png" class="img-fluid" alt="">
                      </div>
                      <div class="col-3">
                        <img src="../../assets/cust-j.png" class="img-fluid" alt="">
                      </div>
                      <div class="col-3">
                        <img src="../../assets/cust-k.png" class="img-fluid" alt="">
                      </div>
                      <div class="col-3">
                        <img src="../../assets/cust-l.png" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                  <h1>我们是谁</h1>
                  <div class="row contract-us-container">
                    <div class="col-md-6">
                      <div class="card">
                        <img src="../../assets/shanghai.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <div class="card-content">
                            <p class="title">Phone</p>
                            <p class="content">+86-135 2487 5604</p>
                          </div>
                          <div class="card-content">
                            <p class="title">E-mail</p>
                            <p class="content">sales@8sail.com</p>
                          </div>
                          <div class="card-content">
                            <p class="title">Address</p>
                            <p class="content">上海市闵行区新骏环路245号漕河泾开发区创新创业园E座 507室</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card">
                        <img src="../../assets/beijing.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <div class="card-content">
                            <p class="title">Phone</p>
                            <p class="content">+86-136 0126 1517</p>
                          </div>
                          <div class="card-content">
                            <p class="title">E-mail</p>
                            <p class="content">sales@8sail.com</p>
                          </div>
                          <div class="card-content">
                            <p class="title">Address</p>
                            <p class="content">北京市大兴区黄村镇滨河西里北区5-1-602</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="bottom">
      <% include('../../layouts/bottom.html') %>
    </div>
    <% include('../../layouts/copyright.html') %>
  </body>
</html>
