<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>表面分析-AFM</title>
  </head>

  <body>
    <!-- Header -->
    <header id="layout-header" class="header-navbar">
      <% include('../../layouts/header.html') %>
    </header>
    <section>
      <img
        src="../../assets/prd-intro-bg.png"
        class="img-fluid"
        alt="Responsive image"
      />
    </section>
    <section>
      <div class="container page">
        <div class="row">
          <div class="col-3 col-sm-12 col-md-3 col-xs-12">
            <h3>表面分析</h3>
            <nav id="navbar" class="">
              <ul>
                <li>
                  <a href="#">表面分析</a>
                  <ul>
                    <li>
                      <a href="#">
                        AFM
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        SNOM
                      </a>
                      <ul>
                        <li>
                          <a href="#">
                            NTEGRA PRIMA
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            原子力显示器
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            AFM-Raman
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">
                        AFM-Raman
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        AFM in SEM
                      </a>
                      <ul>
                        <li>
                          <a href="#">
                            NTEGRA PRIMA
                          </a>
                        </li>
                        <li>
                          <a>
                            原子力显示器
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            白光干涉仪&轮廓仪
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            摩擦麿损试验机
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">
                        白光干涉仪&轮廓仪
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        摩擦麿损试验机
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">表面分析</a>
                  <ul>
                    <li>
                      <a href="#">
                        <!-- <i class="fa fa-bell-o"></i> -->
                        AFM
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <!-- <i class="fa fa-bell-o"></i> -->
                        SNOM
                      </a>
                      <ul>
                        <li>
                          <a href="#">
                            NTEGRA PRIMA
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            原子力显示器
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            AFM-Raman
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">
                        AFM-Raman
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <!-- <i class="fa fa-plus-square"></i> -->
                        AFM in SEM
                      </a>
                      <ul>
                        <li>
                          <a href="#">
                            NTEGRA PRIMA
                          </a>
                        </li>
                        <li>
                          <a>
                            原子力显示器
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            白光干涉仪&轮廓仪
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            摩擦麿损试验机
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="">
                      <a href="#">
                        <!-- <i class="fa fa-bullhorn"></i> -->
                        bibendum dapibus
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <!-- <i class="fa fa-building"></i> -->
                        Proin nonummy
                      </a>
                    </li>
                    <li>
                      <span class="spliter">
                        <!-- <i class="fa fa-bars"></i> -->
                        Nullam non diam
                      </span>
                    </li>
                    <li>
                      <a href="#">
                        <!-- <i class="fa fa-align-center"></i> -->
                        platea dictumst
                      </a>
                      <ul>
                        <li>
                          <a href="#">
                            lacus at augue
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            pede felis
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            dignissim leo
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-bank"></i>
                        Aenean magna nisl
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-9 col-sm-12 col-md-9 col-xs-12">
            <div class="wrapper">
              <div class="breadcrumb">
                当前位置: 首页&nbsp;&nbsp;-&nbsp;&nbsp;表面分析&nbsp;&nbsp;-&nbsp;&nbsp;<span class="breadcrumb-title">SNOM</span>
              </div>
              <div class="content">
                <h1>SNOM</h1>
                <div class="detail">
                  <p>
                    唯一一款具有无限扩展能力的原子力显微镜<br />
                    NTEGRA
                    Prima是一款具备原子级分辨的高端科研型原子力显微镜。NTEGRA代表N个integration，即NTEGRA作为开放的原子力显微镜平台，在具备了形貌、电学、磁学、力学、刻蚀、操纵等SPM技术的同时，还能根据用户的潜在需求配备相应的部件或提供最佳的自由搭建空间。例如：近场光学、拉曼/荧光光谱联用、外加磁场、声学原子力等功能。得益于开放式平台的设计，这些功能只需要升级相应部件，无需更换基座、控制箱、软件等。大大提升了仪器的潜力，丰富了用户的科研手段！
                  </p>
                  <img src="../../assets/prd-intro.png" class="img-fluid" alt="" />
                  <h1>基本信息</h1>
                  <p>
                    NTEGRA
                    PRIMA是扫描探针显微镜领域中最具代表性的一种多功能仪器。该仪器能够执行40多种测量方法，从而能够以高精度和高分辨率在空气、液体和受控环境中分析表面的物理和化学特性。
                    新一代电子产品提供高频(高达5兆赫)模式的操作.这一特点使得仪器可以实现高频AFM模式和使用高频悬臂。*NTEGRA
                    Prima可以实现多种扫描模式：样品扫描式，探针扫描式和双扫描模式。因此，该系统不仅可以实现超高分辨率(原子分子水平)的小样品的研究可可以实现大样品的研究，扫描范围可达100×100x10m。独特的DualScan
                    TM模式可以在更大范围的区域对样品进行分析(X、Y和Z分别为200×200
                    m和22
                    m)，例如，对于活细胞和MEMS组件来说，大的扫描范围尤其有用。内置三轴闭环控制传感器跟踪扫描仪的真实位移，补偿压电陶瓷不可避免的非线性、蠕变和迟滞等缺陷。NT-MDT的传感器具有最低的噪声水平，在极小的扫描区域(10×10
                    nm)上也可实现闭环控制。这对于实现纳米操作和纳米刻蚀尤其有价值。NTEGRA
                    Prima有一个内置的光学系统，分辨率为1um，允许实时成像扫描过程。由于这种开放式结构，NTEGRA
                    Prima的功能可以从本质上加以扩展：具有外部磁场的专用磁测量、高温实验、近场光学显微镜、拉曼光谱等。*例如原子力声学显微镜(AFAM)的独特方法允许通过对每个扫描点的杨氏模量进行定量测量来分析样品的软、硬程度。与相位成像模式相比，AFAM可以为软目标获得更好的对比度，使得在硬样本上获得对比度成为可能，而当采用其他方法时，这是一项非常困难的任务。
                  </p>
                  <div class="row">
                    <div class="col-6 col-sm-12 col-md-6 col-xs-12">
                      <ul>
                        <li>
                          <h2><span class="cycle"></span>生物学与生物技术</h2>
                          <p>蛋白质，DNA，病毒，细菌，组织</p>
                        </li>
                        <li>
                          <h2><span class="cycle"></span>材料科学</h2>
                          <p>
                            表面形貌，局部压电性能，局部粘着性能，局部摩擦学性能
                          </p>
                        </li>
                        <li>
                          <h2><span class="cycle"></span>磁性材料</h2>
                          <p>
                            磁畴结构可视化，外加磁场磁化反转过程的观察，不同温度下磁化反转过程的观察
                          </p>
                        </li>
                        <li>
                          <h2><span class="cycle"></span>半导体，电测量</h2>
                          <p>
                            晶片和其他结构形态、局部表面电位和电容测量、电畴结构成像、异质结界的确定和不同掺杂水平的半导体区域的确定、失效分析(导体线失效
                          </p>
                        </li>
                        <li>
                          <h2><span class="cycle"></span>聚合物与有机薄膜</h2>
                          <p>
                            球晶和树枝晶，聚合物单晶，聚合物纳米粒子，LB膜，有机薄膜(导体线失效
                          </p>
                        </li>
                      </ul>
                    </div>
                    <div class="col-6 col-sm-12 col-md-6 col-xs-12">
                      <ul>
                        <li>
                          <h2><span class="cycle"></span>数据存储设备和媒体</h2>
                          <p>
                            CD、DVD光盘、带热机械、电子和其他类型记录的太比特存储器的存储器
                          </p>
                        </li>
                        <li>
                          <h2><span class="cycle"></span>纳米材料</h2>
                          <p>
                            纳米材料，纳米复合材料，纳米多孔材料
                          </p>
                        </li>
                        <li>
                          <h2><span class="cycle"></span>纳米结构</h2>
                          <p>富勒烯，纳米管，纳米丝，纳米胶囊</p>
                        </li>
                        <li>
                          <h2><span class="cycle"></span>纳米化</h2>
                          <p>
                            AFM光刻：力(交流和直流)，电流(局部阳极氧化)，STM光刻
                          </p>
                        </li>
                        <li>
                          <h2><span class="cycle"></span>纳米粒子</h2>
                          <p>接触力</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h1>指标</h1>
                  <h2>在空气和液体中：</h2>
                  <p
                    >AFM(接触+半接触+非接触)/侧向力显微镜/相位成像/力调制/粘附力成像/纳米刻蚀：AFM(力)</span
                  >
                  <h2>在空中:</h2>
                  <p
                    >STM/磁力显微镜/静电力显微镜/扫描电容显微镜/开尔文探针显微镜/扩展电阻成像/光刻：AFM(电流)、STM/AFAM(可选)</span
                  >
                  <div class="table-responsive-xl">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col" colspan="2">扫描类型</th>
                          <th scope="col">样品扫描</th>
                          <th scope="col">探针描述*</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" colspan="2">样本量</th>
                          <td>直径高达40毫米，高至15毫米</td>
                          <td>直径高达100毫米，高度可达15毫米</td>
                        </tr>
                        <tr>
                          <th scope="row" colspan="2">样本重量</th>
                          <td>最高达100克</td>
                          <td>最多300克</td>
                        </tr>
                        <tr>
                          <th scope="row" colspan="2">XY样品正畸</th>
                          <td colspan="2">5×5毫米</td>
                        </tr>
                        <tr>
                          <th scope="row" colspan="2">定位分辨率</th>
                          <td colspan="2">分辨率-5 um <br/>灵敏度-2微米</td>
                        </tr>
                        <tr>
                          <th scope="row" colspan="2">扫描范围</th>
                          <td>100x100x10μm 3x3x2，6 um 小于1x1x1μm</td>
                          <td>100x100x10μm 50x50x5 um</td>
                        </tr>
                        <tr>
                          <th scope="row" colspan="2">
                            非线性，XY (带有闭环传感器)
                          </th>
                          <td>≤0.1%</td>
                          <td>≤0.15%</td>
                        </tr>
                        <tr>
                          <th scope="row">
                            噪音水平，Z (带宽为1000 Hz的均方根)
                          </th>
                          <td>带传感器</td>
                          <td>0.04nm(通常)， ≤0.06nm</td>
                          <td>0.06nm(通常)， ≤0.07nm</td>
                        </tr>
                        <tr>
                          <th scope="row">
                            噪音水平，Z<br />(带宽为1000 Hz的均方根)
                          </th>
                          <td>没有传感器</td>
                          <td>0.03nm</td>
                          <td>0.05 nm</td>
                        </tr>
                        <tr>
                          <th scope="row">
                            噪音水平，XY***  (带宽为200 Hz的均方根)
                          </th>
                          <td>带传感器</td>
                          <td>0.2 nm(通常)， ≤0.3nm(XY 100 Um)</td>
                          <td>0.1nm(通常)， ≤0.2nm(XY 50 Um)</td>
                        </tr>
                        <tr>
                          <th scope="row">
                            噪音水平，XY***  (带宽为200 Hz的均方根)
                          </th>
                          <td>没有传感器</td>
                          <td>0.02nm(XY 100 Um)， 0.001 nm(XY3um)</td>
                          <td>0.01nm(XY 50 Um)</td>
                        </tr>
                        <tr>
                          <th scope="row" colspan="2">
                            线性维数估计误差 (带有传感器)
                          </th>
                          <td>± 0.5%</td>
                          <td>± 1.2%</td>
                        </tr>
                        <tr>
                          <th scope="row">光学观察系统</th>
                          <td>光学分辨率</td>
                          <td>1微米 (0.4μm任选，NA 0.7)****</td>
                          <td>3微米</td>
                        </tr>
                        <tr>
                          <th scope="row">光学观察系统</th>
                          <td>视场</td>
                          <td>4.5-0.4毫米</td>
                          <td>2.0-0.4毫米</td>
                        </tr>
                        <tr>
                          <th scope="row">光学观察系统</th>
                          <td>连续变焦</td>
                          <td>支持</td>
                          <td>支持</td>
                        </tr>
                        <tr>
                          <th scope="row">隔振</th>
                          <td>主动</td>
                          <td colspan="2">0.7-1000赫兹</td>
                        </tr>
                        <tr>
                          <th scope="row">隔振</th>
                          <td>被动</td>
                          <td colspan="2">1 kHz以上</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="sumary">
                    <p>*扫描头可配置为一个独立的装置，供无限大小的样本使用。</p>
                    <p>*可以任意扩展到200x200x20мm。</p>
                    <p>
                      *内置电容传感器具有极低的噪声，任何小于50X50NM的区域都可以用闭环控制扫描。
                    </p>
                    <p>
                      *高分辨率观察系统（HRV头）是可选的，并提供额外的功能，使它有可能产生和检测尖端定位孔径较少近场效应。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="bottom">
      <% include('../../layouts/bottom.html') %>
    </div>
    <% include('../../layouts/copyright.html') %>
  </body>
</html>
