.container-fluid-header {
  border-bottom: 5px solid #0066cc;
  #layout-header {
    .navbar-header {
      min-height: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      .navbar-brand {
        padding-left: 66px;
        background-image: url("../../assets/logo.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: 10px 50%;
        font-family: "微软雅黑";
        font-size: 18px;
        font-weight: bold;
        color: #000;
        letter-spacing: 6px;
        .sub-title {
          font-size: 12px;
          letter-spacing: 1px;
          color: #000;
        }
      }
    }
    .nav-con {
      font-size: 14px;
      font-weight: bold;
      .nav-item {
        margin-right: 15px;
        .nav-link {
          color: #000;
        }
      }
    }
  }
}

.wrapper {
  border-left: 1px solid #eee;
  .breadcrumb {
    padding-left: 60px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #666666;
    background-color: #fff;
    margin-bottom: 0;
    .breadcrumb-title {
      color: #006699;
    }
  }
  .content {
    padding-left: 60px;
    font-size: 16px;
    color: #333333;
    h1 {
      font-size: 50px;
      color: #333399;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .detail {
      p {
        line-height: 30px;
        margin-bottom: 20px;
      }
      img {
        max-height: 475px;
      }
      h2 {
        font-size: 18px;
        color: #333399;
        font-family: "微软雅黑";
        margin-bottom: 20px;
      }
      .row {
        ul > li {
          min-height: 140px;
          h2 {
            .cycle {
              background: url("../../assets/icon/cycle.png") no-repeat;
              display: inline-block;
              background-size: 100% 100%;
              width: 16px;
              height: 16px;
              margin-right: 10px;
            }
          }
        }
      }
      .table-responsive-xl {
        .table.table-bordered {
          font-size: 16px;
          color: #333;
          thead th {
            border-bottom: 1px solid #eee !important;
          }
          th, td{
            border: 1px solid #eee;
            line-height: 26px !important;
          }
        }
      }
      .sumary {
        margin-top: 34px;
        padding-bottom: 90px;
        p {
          line-height: 30px;
          margin-bottom: 15px;
          font-size: 16px;
          color: #333;
        }
      }
    }
  }
}
