<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>应用文库</title>
  </head>

  <body>
    <!-- Header -->
    <header id="layout-header" class="header-navbar">
      <% include('../../layouts/header.html') %>
    </header>
    <section>
      <img
        src="../../assets/applied-library-bg.png"
        class="img-fluid"
        alt="Responsive image"
      />
    </section>
    <section>
      <div class="container page">
        <div class="row">
          <div class="col-3 col-sm-12 col-md-3 col-xs-12">
            <h3>应用文库</h3>
            <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >文章分类</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#profile"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                  >文章分类二</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="messages-tab"
                  data-toggle="tab"
                  href="#messages"
                  role="tab"
                  aria-controls="messages"
                  aria-selected="false"
                  >文章分类三</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="settings-tab"
                  data-toggle="tab"
                  href="#settings"
                  role="tab"
                  aria-controls="settings"
                  aria-selected="false"
                  >文章分类四</a
                >
              </li>
            </ul>
          </div>
          <div class="col-9 col-sm-12 col-md-9 col-xs-12">
            <div class="wrapper">
              <div class="breadcrumb">
                当前位置: 首页&nbsp;&nbsp;-&nbsp;&nbsp;<span
                  class="breadcrumb-title"
                  >文章分类</span
                >
              </div>
              <div class="tab-content">
                <div
                  class="tab-pane active"
                  id="home"
                  role="tabpanel"
                  aria-labelledby="home-tab"
                >
                  <div class="wrapper-library-detail">
                    <div class="row">
                      <div class="col-12">
                          <h1>这里是文章标题，可能比较长</h1>
                          <p class="sub-title">
                            文章来源：<span class="from">某权威</span><span>发表日期:</span><span class="pub-date">2019-12-20</span>
                          </p>
                          <div class="jumbotron-strong">
                            <div class="content">
                              <span class="kd"></span>
                              <p class="lead">CytoViva™纳米荧光高光谱显微成像系统（HSI），可以同时提供纳米材料及生物样品的光谱分析和图像数据。</p>
                            </div>
                          </div>
                          <div class="detail">
                            <p>NTEGRA Prima是一款具备原子级分辨的高端科研型原子力显微镜。NTEGRA代表N个integration，即NTEGRA作为开放的原子力显微镜平台，在具备了形貌、电学、磁学、力学、刻蚀、操纵等SPM技术的同时，还能根据用户的潜在需求配备相应的部件或提供最佳的自由搭建空间。例如：近场光学、拉曼/荧光光谱联用、外加磁场、声学原子力等功能。得益于开放式平台的设计，这些功能只需要升级相应部件，无需更换基座、控制箱、软件等。大大提升了仪器的潜力，丰富了用户的科研手段！</p>
                            <p>1月31日，广州市房地产租赁协会和广东省公寓管理协会相继发布致业主（房东）的减租倡议书。两份倡议书均是代表“租赁行业经营者”发出倡议，建议2020年2月1日~29日（新型冠状病毒感染的肺炎疫情影响最大最直接的2月份）免租一个月，3月1日~4月30日租金减半两个月。</p>
                            <p>而两天前的1月29日，深圳宝安航城街道办已倡议私人住宅业主，酌情减免生活困难的外来务工人员10天以上房租。</p>
                            <p>一石激起千层浪，免租减租的讨论很快蔓延到个人业主，不少背负着房贷的业主表示“我减租银行减贷款吗”。《每日经济新闻》记者多方采访了解到，在租客提出免租请求后有的个人业主很快就同意，但也有业主表示自己也很难，租客如果真的有困难，减租免租事宜应该相互协商，不应该被“倡议”。</p>
                            <p class="explore">本文经授权发布，不代表八帆仪器设备有限公司立场。如若转载请联系原作者。</p>
                          </div>
                          <div class="other">
                            <ul class="list-group list-group-horizontal">
                              <li class="list-group-item"><a href="javascript:;"><p><span class="lt-bg">上一篇：</span><span>应用全球先进成熟的测试测量仪器及技术</span></p></a></li>
                              <li class="list-group-item"><a href="javascript:;"><p><span class="lt-bg">下一篇：</span><span>应用全球先进成熟的测试测量仪器及技术</span></p></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane"
                  id="profile"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                  b
                </div>
                <div
                  class="tab-pane"
                  id="messages"
                  role="tabpanel"
                  aria-labelledby="messages-tab"
                >
                  c
                </div>
                <div
                  class="tab-pane"
                  id="settings"
                  role="tabpanel"
                  aria-labelledby="settings-tab"
                >
                  d
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="bottom">
      <% include('../../layouts/bottom.html') %>
    </div>
    <% include('../../layouts/copyright.html') %>
  </body>
</html>
