#layout-header {
  .navbar-header {
    min-height: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    .navbar-brand {
      padding-left: 66px;
      background-image: url("../../assets/logo.png");
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: 10px 50%;
      font-family: "微软雅黑";
      font-size: 18px;
      font-weight: bold;
      color: #000;
      letter-spacing: 6px;
      .sub-title {
        font-size: 12px;
        letter-spacing: 1px;
        color: #000;
      }
    }
  }
}
