<div class="container-fluid">
  <div class="row">
    <div class="col">
      <ul class="list-bottom-group">
        <li class="list-item active">表面分析</li>
        <li class="list-item">AFM</li>
        <li class="list-item">SNOM</li>
        <li class="list-item">AFM-Raman</li>
        <li class="list-item">AFM in SEM</li>
        <li class="list-item">白色干涉仪&轮廓仪</li>
        <li class="list-item">摩擦磨损试验机</li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-bottom-group">
        <li class="list-item active">生物医学</li>
        <li class="list-item">Cytoviva高光谱显微镜</li>
        <li class="list-item">Photonetc荧光高光谱成像系统</li>
        <li class="list-item">Photonetc拉曼成像系统</li>
        <li class="list-item">Photonetc高光谱相机</li>
        <li class="list-item">光片荧光显微镜</li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-bottom-group">
        <li class="list-item active">X-Ray相关</li>
        <li class="list-item">X射线波带片</li>
        <li class="list-item">标准标样</li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-bottom-group">
        <li class="list-item active">加工定制</li>
        <li class="list-item">SOI芯片订制</li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-bottom-group">
        <li class="list-item active">应用文库</li>
        <li class="list-item">待定内容</li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-bottom-group">
        <li class="list-item active">关系我们</li>
        <li class="list-item">联系我们</li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-bottom-group">
        <li class="list-item">耗材商城</li>
      </ul>
    </div>
  </div>
</div>
