<div class="container-fluid container-fluid-header">
	<nav class="navbar navbar-expand-lg navbar-light" id="layout-header">
    <div class="container navbar-container">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://8sail.com/"
          >八帆仪器设备(上海)有限公司<br /><span class="sub-title"
            >Eight-Sail Instrument & Equipment Co.,Ltd.</span
          ></a
        >
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end nav-menu nav-con">
          <li class="nav-item">
            <a class="nav-link" href="index.html">首页</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="javascript:;"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >表面分析</a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="product.html?menuId=surface&prdId=afm">AFM</a></li>
              <li><a class="dropdown-item" href="product.html?menuId=surface&prdId=snom">SNOM</a></li>
              <li><a class="dropdown-item" href="product.html?menuId=surface&prdId=spectra">AFM-Raman</a></li>
              <li><a class="dropdown-item" href="product.html?menuId=surface&prdId=litescope">AFM in SEM</a></li>
              <li><a class="dropdown-item" href="product.html?menuId=surface&prdId=wli">白光干涉仪&轮廓仪</a></li>
              <li><a class="dropdown-item" href="product.html?menuId=surface&prdId=basalt">摩擦麿损试验机</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="javascript:;"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >生物医学</a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="product.html?menuId=medical&prdId=ima">Photonetc荧光高光谱成像系统</a></li>
              <li><a class="dropdown-item" href="product.html?menuId=medical&prdId=ima">Photonetc拉曼成像系统</a></li>
              <li><a class="dropdown-item" href="product.html?menuId=medical&prdId=zephir">Photonec高光谱相机</a></li>
              <li><a class="dropdown-item" href="product.html?menuId=medical&prdId=cytoviva">CytoViva高光谱显微镜</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="javascript:;"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >X-Ray相关</a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="product.html?menuId=xray&prdId=x-ray-zone-plate">X射线波带片</a></li>
              <li><a class="dropdown-item" href="product.html?menuId=xray&prdId=x-ray-grating">校准标样</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="javascript:;"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >加工定制</a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="product.html?menuId=processing&prdId=soi">SOI芯片订制</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="applied-library.html">应用文库</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about-us.html">关于我们</a>
          </li>
          <li class="nav-item mail">
            <a class="nav-link" href="#">耗材商城</a>
          </li>
        </ul>
      </div>
      </div>
  </nav>
</div>

