<div class="container-fluid container-fluid-header">
	<nav class="navbar navbar-expand-lg navbar-light" id="layout-header">
    <div class="container navbar-container">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://8sail.com/"
          >八帆仪器设备(上海)有限公司<br /><span class="sub-title"
            >Eight-Sail Instrument & Equipment Co.,Ltd.</span
          ></a
        >
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end nav-menu nav-con">
          <li class="nav-item">
            <a class="nav-link" href="index.html">首页</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >表面分析</a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="surface-analysis.html">AFM</a></li>
              <li class="nav-item dropdown">
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  id="navbarDropdown2"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  SNOM
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <li><a class="dropdown-item" href="#">NTEGRA PRIMA</a></li>
                  <li>
                    <a class="dropdown-item" href="#">原子力显示器</a>
                  </li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">AFM-Raman</a></li>
              <li class="nav-item dropdown">
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  id="navbarDropdown2"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  AFM in SEM
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <li><a class="dropdown-item" href="#">NTEGRA PRIMA</a></li>
                  <li>
                    <a class="dropdown-item" href="#">原子力显示器</a>
                  </li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">白光干涉仪&轮廓仪</a></li>
              <li><a class="dropdown-item" href="#">摩擦麿损试验机</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >生物医学</a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="#">AFM</a></li>
              <li class="nav-item dropdown">
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  id="navbarDropdown2"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  SNOM
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <li><a class="dropdown-item" href="#">NTEGRA PRIMA</a></li>
                  <li>
                    <a class="dropdown-item" href="#">原子力显示器</a>
                  </li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">AFM-Raman</a></li>
              <li class="nav-item dropdown">
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  id="navbarDropdown2"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  AFM in SEM
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <li><a class="dropdown-item" href="#">NTEGRA PRIMA</a></li>
                  <li>
                    <a class="dropdown-item" href="#">原子力显示器</a>
                  </li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">白光干涉仪&轮廓仪</a></li>
              <li><a class="dropdown-item" href="#">摩擦麿损试验机</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >X-Ray相关</a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="#">AFM</a></li>
              <li class="nav-item dropdown">
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  id="navbarDropdown2"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  SNOM
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <li><a class="dropdown-item" href="#">NTEGRA PRIMA</a></li>
                  <li>
                    <a class="dropdown-item" href="#">原子力显示器</a>
                  </li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">AFM-Raman</a></li>
              <li class="nav-item dropdown">
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  id="navbarDropdown2"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  AFM in SEM
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <li><a class="dropdown-item" href="#">NTEGRA PRIMA</a></li>
                  <li>
                    <a class="dropdown-item" href="#">原子力显示器</a>
                  </li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">白光干涉仪&轮廓仪</a></li>
              <li><a class="dropdown-item" href="#">摩擦麿损试验机</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >加工定制</a
            >
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="#">AFM</a></li>
              <li class="nav-item dropdown">
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  id="navbarDropdown2"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  SNOM
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <li><a class="dropdown-item" href="#">NTEGRA PRIMA</a></li>
                  <li>
                    <a class="dropdown-item" href="#">原子力显示器</a>
                  </li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">AFM-Raman</a></li>
              <li class="nav-item dropdown">
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  id="navbarDropdown2"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  AFM in SEM
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <li><a class="dropdown-item" href="#">NTEGRA PRIMA</a></li>
                  <li>
                    <a class="dropdown-item" href="#">原子力显示器</a>
                  </li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">白光干涉仪&轮廓仪</a></li>
              <li><a class="dropdown-item" href="#">摩擦麿损试验机</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="applied-library.html">应用文库</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about-us.html">关于我们</a>
          </li>
          <li class="nav-item mail">
            <a class="nav-link" href="#">耗材商城</a>
          </li>
        </ul>
      </div>
      </div>
  </nav>
</div>

