<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>应用文库</title>
  </head>

  <body>
    <!-- Header -->
    <header id="layout-header" class="header-navbar">
      <% include('../../layouts/header.html') %>
    </header>
    <section>
      <img
        src="../../assets/applied-library-bg.png"
        class="img-fluid"
        alt="Responsive image"
      />
    </section>
    <section>
      <div class="container page">
        <div class="row">
          <div class="col-3 col-sm-12 col-md-3 col-xs-12">
            <h3>应用文库</h3>
            <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >文章分类</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#profile"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                  >文章分类二</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="messages-tab"
                  data-toggle="tab"
                  href="#messages"
                  role="tab"
                  aria-controls="messages"
                  aria-selected="false"
                  >文章分类三</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="settings-tab"
                  data-toggle="tab"
                  href="#settings"
                  role="tab"
                  aria-controls="settings"
                  aria-selected="false"
                  >文章分类四</a
                >
              </li>
            </ul>
          </div>
          <div class="col-9 col-sm-12 col-md-9 col-xs-12">
            <div class="wrapper">
              <div class="breadcrumb">
                当前位置: 首页&nbsp;&nbsp;-&nbsp;&nbsp;<span
                  class="breadcrumb-title"
                  >文章分类</span
                >
              </div>
              <div class="tab-content">
                <div
                  class="tab-pane active"
                  id="home"
                  role="tabpanel"
                  aria-labelledby="home-tab"
                >
                  <div class="wrapper-library-list">
                    <div class="row">
                      <div class="col-12">
                        <div class="media">
                          <div class="lt-time">
                            <div class="text">
                              <p class="year">2019</p>
                              <p class="md">12-10</p>
                            </div>
                          </div>
                          <div class="media-body">
                            <h5 class="mt-0"><a href="library-detail.html?libraryId=">这里是文章的标题</a></h5>
                            <p>
                              <a href="library-detail.html?libraryId=">为纳米技术研究市场提供光学图像处理的CytoViva公司将一种新型光谱图像技术（HSI）引入到先进纳米显微镜系统中。</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="media">
                          <div class="lt-time">
                            <div class="text">
                              <p class="year">2019</p>
                              <p class="md">12-10</p>
                            </div>
                          </div>
                          <div class="media-body">
                            <h5 class="mt-0"><a href="library-detail.html?libraryId=">这里是文章的标题</a></h5>
                            <p>
                              <a href="library-detail.html?libraryId=">为纳米技术研究市场提供光学图像处理的CytoViva公司将一种新型光谱图像技术（HSI）引入到先进纳米显微镜系统中。</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="media">
                          <div class="lt-time">
                            <div class="text">
                              <p class="year">2019</p>
                              <p class="md">12-10</p>
                            </div>
                          </div>
                          <div class="media-body">
                            <h5 class="mt-0"><a href="library-detail.html?libraryId=">这里是文章的标题</a></h5>
                            <p>
                              <a href="library-detail.html?libraryId=">为纳米技术研究市场提供光学图像处理的CytoViva公司将一种新型光谱图像技术（HSI）引入到先进纳米显微镜系统中。</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="media">
                          <div class="lt-time">
                            <div class="text">
                              <p class="year">2019</p>
                              <p class="md">12-10</p>
                            </div>
                          </div>
                          <div class="media-body">
                            <h5 class="mt-0"><a href="library-detail.html?libraryId=">这里是文章的标题</a></h5>
                            <p>
                              <a href="library-detail.html?libraryId=">为纳米技术研究市场提供光学图像处理的CytoViva公司将一种新型光谱图像技术（HSI）引入到先进纳米显微镜系统中。</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="pagination"></div>
                </div>
                <div
                  class="tab-pane"
                  id="profile"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                  b
                </div>
                <div
                  class="tab-pane"
                  id="messages"
                  role="tabpanel"
                  aria-labelledby="messages-tab"
                >
                  c
                </div>
                <div
                  class="tab-pane"
                  id="settings"
                  role="tabpanel"
                  aria-labelledby="settings-tab"
                >
                  d
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="bottom">
      <% include('../../layouts/bottom.html') %>
    </div>
    <% include('../../layouts/copyright.html') %>
  </body>
</html>
